@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Shadows+Into+Light+Two&display=swap');
body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border:solid;
  background-color: #FEE3EC;
  padding:30px;
}
.head{
    background-color: #F9D371;
    border:solid black;
}
h1{
  margin-top:50px,auto,0,auto;
  color: #66BFBF;
  font-size: 5.626rem;
  line-height: 2;

}
.head:hover{
    color:#9B0000;
}
h2{
  margin-top:0;
  color: #66BFBF;
  font-weight: bold;
}

h3{
  color:black;
  font-size: 2.5rem;
  font-weight: normal;
}
.ode{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  image-resolution: from-image;
}
.ode p{
    line-height: 2;
    background-color: white;
    border: solid;
}
.ode h3:hover{
  color:red;
}
hr{
  border: dotted black 6px;
  border-bottom:none;
  width: 10%;
  margin: 40px auto 60px;
}
.fireworks{
  height:300px;
}
.ode img{
  width:30%;
}
.nod{
  font-size: 2.626rem;
  line-height: 2;
}
.PS{
  font-size: 1rem;
  color:black;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
  background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
  text-decoration: none;
}
.shawn a{
  text-decoration: none;
}
